<configuration>
  <components>
    <component id="UserService"
			service="UCommerce.Security.IUserService, UCommerce"
			type="MyUCommerceApp.BusinessLogic.Integration.SingleUserService, MyUCommerceApp.BusinessLogic">
      <parameters>
        <userName>AutomaticTests</userName>
      </parameters>
    </component>

    <component id="SearchSessionProvider"
      service="UCommerce.Search.RavenDB.IRavenDbStoreProvider, UCommerce"
      type="UCommerce.Search.RavenDB.RavenDbIisStoreProvider, UCommerce">
      <parameters>
        <DatabaseName>uCommerce</DatabaseName>
        <Url>http://RavenDb/</Url>
      </parameters>
    </component>

    <component id="ConsoleLoggingService"
      service="UCommerce.Infrastructure.Logging.ILoggingService, UCommerce.Infrastructure"
      type="MyUCommerceApp.BusinessLogic.Logging.ConsoleLoggingService, MyUCommerceApp.BusinessLogic">
    </component>
    <partial-component id="Basket">
      <parameters>
        <tasks>
          <array>

            <value insert="last">${MyApp.Basket.NotifyOnVipCustomer}</value>
          </array>
        </tasks>
      </parameters>
    </partial-component>
    <component id="MyApp.Basket.NotifyOnVipCustomer"
      service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
      type="UCommerce.MasterClass.BusinessLogic.Pipelines.NotifyOnVipCustomerTask, UCommerce.MasterClass.BusinessLogic">

    </component>


  </components>
</configuration>